@import './base.css';

#app {
  margin: auto;
  padding: auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;    
  }
}

.dashboard-container {
  width: 1200px;
  min-height: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  background-color: rgba(177, 154, 205, 1);
}

.logout-btn {
  background-color: #000;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-footer {
background: #E1BEE7;
  text-align: center;
  font-size: .9rem;
  color: #666;
  padding: 1rem 0;
  border-top: 1px solid #e0e0e0;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mitad-contenedor {
  padding: 10px;
  flex: 45%;
}

.tercio-contenedor {  
  padding: 10px;
  flex: 33%;
}

.cuarto-contenedor {
  padding: 10px;
  flex: 24%;  
}

.resto-contenedor {
  padding: 10px;
  flex: 69%;  
}

.modal-ntf {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-contenido {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  min-width: 300px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  overflow: auto;
  max-height: 200px;
}

.modal-contenido button {
  position: absolute;
  padding-left: 220px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-contenido h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-contenido p {
  font-size: 14px;
  color: #666;
}

.aviso-contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}