@import 'tailwindcss';

.btn-dark {
    @apply cursor-pointer text-white px-4 py-2 rounded-md border-0 hover:bg-gray-200 hover:text-black;
    background: #000000;
}

.error {
  @apply text-[red] mt-2.5;
}

.form-group {
  @apply mb-[15px];
} 

/*Estilos del Dashboard*/

.card {
  @apply border shadow-[0_2px_4px_rgba(0,0,0,0.1)] mb-5 p-5 rounded-lg border-solid border-[#ddd];
}
.card h3 {
  @apply mt-0;
}
.pasajero-dashboard .card {
  @apply bg-[#f0f8ff];
}
.conductor-dashboard .card {
  @apply bg-[#fff0f5];
}

/*Estilos del publicar viajes*/

.publicar {
  @apply max-w-[700px] mx-auto my-0;
}
.form {
  @apply flex flex-col gap-4;
}
.row {
  @apply flex gap-4 flex-wrap;
}
label {
  @apply flex flex-col flex-1 min-w-[150px];
}
input,
select {
  @apply border rounded px-[0.6rem] py-[0.4rem] border-solid border-[#ccc];
}
button {
  @apply cursor-pointer text-white px-4 py-2 rounded-md border-0;
  background: #111;
}
button.hoy {
  background: #2e7d32;
} /* verde cuando está activo */
.modal-vista {
  @apply fixed flex items-center justify-center z-[1000] inset-0;
  background: rgba(0, 0, 0, 0.4);
}
.modal-contenido {
  @apply min-w-[300px] shadow-[0_2px_16px_rgba(0,0,0,0.2)] p-8 rounded-[10px];
  background: #fff;
}
.cerrarBtn {
  @apply text-white pl-[100] border-[none];
  background: #f44336;
}


/*main.ccs */

body {
  @apply overflow-x-hidden;
  
}

.green {
  @apply no-underline text-[hsla(160,100%,37%,1)] transition-[0.4s] p-[3px];
}
@media (hover: hover) {
  a:hover {
    @apply bg-[hsla(160,100%,37%,0.2)];
  }
}
@media (min-width: 1024px) {
  body {
    @apply flex place-items-center;
  }
  #app {
    @apply grid;
  }
}
.dashboard-container {
  @apply w-[1200px] min-h-[400px] bg-[#f9f9f9] m-auto p-5;
}
header {
  @apply flex justify-between items-center bg-[rgba(177,154,205,1)] mb-[30px] pb-[15px] border-b-[#eee] border-b border-solid;
}
.logout-btn {
  @apply bg-black text-[white] cursor-pointer px-[15px] py-2 rounded-[5px] border-[none];
}
.app-footer {
  @apply text-center text-[0.9rem] text-[#666] px-0 py-4 border-t-[#e0e0e0] border-t border-solid;
  background: #e1bee7;
}
.contenedor {
  @apply flex flex-wrap text-center justify-center items-center gap-10;
}
.mitad-contenedor {
  @apply flex-[45%] p-2.5;
}
.tercio-contenedor {
  @apply flex-[33%] p-2.5;
}
.cuarto-contenedor {
  @apply flex-[24%] p-2.5;
}
.resto-contenedor {
  @apply flex-[69%] p-2.5;
}
.modal-ntf {
  @apply fixed flex items-center justify-center z-[1000] inset-0;
  background: rgba(0, 0, 0, 0.4);
}
.modal-contenido {
  @apply min-w-[300px] shadow-[0_2px_16px_rgba(0,0,0,0.2)] overflow-auto max-h-[200px] p-8 rounded-[10px];
  background: #fff;
}
.modal-contenido button {
  @apply absolute text-lg cursor-pointer pl-[220px] border-[none];
  background: none;
}
.modal-contenido h3 {
  @apply text-lg mt-0 mb-2.5;
}
.modal-contenido p {
  @apply text-sm text-[#666];
}
.aviso-contenedor {
  @apply flex flex-col gap-2.5;
}